@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Qwitcher+Grypen&family=Roboto+Mono:wght@300&family=Titillium+Web:wght@300;600&display=swap');

:root {
  --very-light-brown: #FFF4EC;
  --light-brown: rgba(161, 118, 78, .35);
  --medium-brown: #846344;
  --dark-brown: #6A3D13;
  --pink: #E0A2A2;
}

.App {
  text-align: center;
  background-color: var(--very-light-brown);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  overflow-y: auto;
  padding-bottom: 10vh;
}

h2 {
  font-family: 'Anek Telugu', sans-serif;
  font-weight: 300;
  color: var(--medium-brown);
}

p {
  color: var(--medium-brown);
}


a {
  color: var(--pink);
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 10px;
}

.site-name {
  font-family: 'Qwitcher Grypen', cursive;
  color: var(--medium-brown)
}

.header {
  min-width: 75vw;
  text-align: center;
}

.information {
  text-align: left;
  font-size: calc(10px + 1vmin);
  width: 75%;
}

.pages {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  min-width: inherit;
}

.block {
  min-width: inherit;
  background-color: var(--light-brown);
  height: 15px;
}

.page-links {
  color: var(--medium-brown);
  font-size: calc(10px + 2vmin);
  font-weight: 300;
  font-family: 'Titillium Web', sans-serif;
  cursor: pointer
}

.page-links:hover {
  color: var(--light-brown);
}

.page-links:active {
  color: var(--dark-brown);
}

img.headshot {
  grid-column: 2;
  width: calc(50vh + 10px);
  height: calc(50v + 10px);
  box-shadow: 20px 20px var(--light-brown);
  margin-right: 10vw;
}

img.welcome {
  width: 30vh;
  height: 15vh;
  background-color: var(--light-brown);
  border-radius: 25%;
  justify-self: center;
}

.cover-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  margin-top: 5vh;
  min-width: 100vw;
  margin-left: 5vw;
}

.my-info {
  grid-column: 1;
  max-height: 50vh;
  max-width: 50vw;
}

.info_block {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: var(--dark-brown);
  position: relative;
  padding-left: 10px;
}

.current-page {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: calc(10px + 2vmin);
  color: var(--medium-brown);
}


.page-header {
  font-size: calc(10px + 2vmin);
}

img.books-gif{
  width: 5vw;
  height: 5vw;
  vertical-align: middle;
}

img.work-gif {
  width: 10vw;
  height: 10vw;
  vertical-align: middle;
}

.School_logo {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30%;
  padding-top: 10px;
  padding-right: 10px;
}

.experience-layout {
  display: grid;
  grid-template-columns: auto 20%;
  column-gap: 5%;
}

.experiences {
  grid-column-start: 1;
  grid-column-end: 2;
}


.tech_block {
  grid-column-start: 2;
  background-color: var(--medium-brown);
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
  border-radius: 25px;
}

.tech_block ul {
  list-style-type: circle;
  color: white;
}

.tech_block p {
  color:white;
}

.view-more {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.project-image{
  max-width: 100%;
}